h1, p, input, .form, .Submit, .reset, a, ul{
    font-family: "Century Gothic", Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

header {
    border: inset #e8c481;
    background-image: url(logo.png);
    padding: 25px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

input {
    color:rgb(0, 0, 0);
}

}
img {
    width: 170px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(100, 130, 178);
}

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    text-align: center;
}

.enter {
    font-size: 1.75em;
    width: 75%;
    padding-top: 1%;
    padding-bottom: 1%;
    word-wrap: break-word;
}

.questions {
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    font-family: "Century Gothic", Helvetica, sans-serif;
    background-color: rgb(232, 196, 129);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px 2px;
}

.make {
    background-color: rgb(232, 196, 129);
}

.button:hover {
    background-color: rgb(51, 77, 77);
}


/*Animation to make the Make Schedule button look like it's pulsing*/
.make {
    -webkit-animation: fader 2s infinite  alternate;
    animation: fader 2s infinite  alternate;
}
@-webkit-keyframes fader {
0%,100% { opacity: 0.7 }
  50% { opacity: 1 }
}
@keyframes fader {
0%,100% { opacity: 0.7 }
  50% { opacity: 1 }
}


/* Formatting for the schedule goes here */
ul {
    list-style-type: none;
}

.finalschedule {
    margin-left: 10%;
    text-align: left;
    font-weight: bold;
    line-height: 2em;
    font-size: 1.7em;
}

.break {
    color:rgb(183, 45, 128);
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
<<<<<<< HEAD
    margin-top: 125px;
=======

>>>>>>> d0ea4ed48dc0cf8ab9ca093b7eed77083e17e09f
button {
    cursor: pointer;
}